.askbuklin_head .row .col-md-3 h1{
    margin-top: 12px;
    color: #F5F5F5;
}

/* base_start */
.askbuklin_head .row .col-md-3 .row .col-md-12{
    color: #F5F5F5;
}

#not_auth_1, #not_auth_2 {
	margin-top: 15px;
}

.askbuklin_main_head{
    margin-top: 12px;
	margin-bottom: 12px;
}

.askbuklin_main_part{
    margin-top: 35px;
}

.askbuklin_main_head .row .col-md-2{
    padding-top: 20px;
}

.askbuklin_main_head .row .col-md-1{
    margin-top: 15px;
}

.askbuklin_body > .col-md-8{
    margin-right: 0px;
}

img {
    width: 60px;
    height: 60px;
    border-radius: 30px;
}

.askbuklin-main-block {
    padding-top: 30px;
}

.askbuklin_question {
    border: 3px solid #140F0B; 
    margin-bottom: 25px;    
}

/* right_panel_start */

.askbuklin_other_information {
	margin-top: 40px;
}

.askbuklin_other_information_2 .col-md-3{
    color: red;
}

.askbuklin_other_information_3 .col-md-3{
    color: red;
}

.askbuklin_other_information_3 .col-md-4{
    color: green;
}

.askbuklin_other_information_4 .col-md-3 h6{
    color: orange;
}

/* right_panel_end */

a {
    text-decoration: underline;
}

.askbuklin_page_navigation{
    padding-left: 400px;
}

/* base_end */

/* index_start */

.askbuklin_head .row .col-md-3 h1{
    margin-top: 17px;
    color: #F5F5F5;
}

.askbuklin_question_form .row{
    margin-bottom: 15px;
}

.askbuklin_question .row > .col-md-2{
    padding-left: 45px;
}

.askbuklin_question .col-md-3 .col-md-12 {
	padding-left: 50px;
}

.askbuklin_question_like .col-md-5{
    padding-left: 40px;
	padding-right: 0px;
}

.askbuklin_question_like .col-md-4{
    padding-left: 65px;
}

.askbuklin_question .row > .col-md-9{
    padding-left: 0px;
}

.askbuklin_question_like .row{
    margin-bottom: 10px;
}

.askbuklin_question_like h5{
    padding-left: 15px;
}

span img{
    width: 25px;
    height: 25px;
    border-radius: 4px;
}

/* index_end */


/* question_start */

#q_row_1, #q_row_2, #q_row_3, #q_row_4 {
	margin-top: 18px;
}

/* question_end */



