 {% load staticfiles %}		
				 <div class="askbuklin_answer">
                                    <div class="row">
                                        <div class="col-md-2">

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="icon" id="image_author_ans">
                                                        <img src="http://askbuklin.com/{{answer.author.profile.avatar}}" alt="{{post.name}}">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="askbuklin_question_like">
                                                    <div class="row">
                                                         <div class="col-md-5" id="dislike_ans">
                                                              <span>
                                                                  <button type="button" class="btn btn-default">
                                                                      <img class="like-button" src={% static "image/dislike.png" %}>
                                                                  </button>
                                                              </span>
                                                         </div>

														 <div class="col-md-5" id="like_ans">
                                                              <span>
                                                                   <button type="button" class="js-ans-like btn btn-default">
                                                                      <img class="like-button" src={% static "image/like.png" %} data-id="{{answer.id}}">
                                                                  </button>
                                                              </span>
                                                         </div>
													</div>
													
													<div class="row">
														<div class="col-md-4" id="like_count_ans">
                                                             <p>{{answer.like_count}}</p>
                                                         </div>
													</div>
                                                </div>
                                            </div>
                                        </div>
                                    
                                        <div class="col-md-9">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <p>{{answer.content}}</p>
                                                </div>
                                            </div>
											
											<div class="row">
                                                <div class="col-md-12">
                                                    <p>{{answer.created_date}}</p>
                                                </div>    
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label class="checkbox-inline">
                                                        <input type="checkbox" id="inlineCheckbox1" value="option1"> Correct
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
