{% load staticfiles %}
				<div class="askbuklin_question">
                                    <div class="row">
                                        <div class="col-md-3">

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="icon" id="image_author">
                                                        <h4>
															<img src="http://askbuklin.com/{{post.author.profile.avatar}}" alt="{{post.name}}">
														</h4> 
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                               <div class="askbuklin_question_like">
                                                    <div class="row">
                                                         <div class="col-md-5" id="dislike">
                                                              <span>
                                                                  <button type="button" class="btn btn-default">
                                                                      <img class="like-button" src={% static "image/dislike.png" %}>
                                                                  </button>
                                                              </span>
                                                         </div>

														 <div class="col-md-5" id="like">
                                                              <span>
                                                                  <button type="button" class="js-post-like btn btn-default">
                                                                      <img class="like-button" src={% static "image/like.png" %} data-id="{{post.id}}">
                                                                  </button>
                                                              </span>
                                                         </div>
													</div>
													
													<div class="row">
														<div class="col-md-4" id="like_count">
                                                             <p>{{post.like_count}}</p>
                                                         </div>
													</div>
                                                </div>
                                            </div>
                                        </div>
                                    
                                        <div class="col-md-9">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <h4>
                                                        <a href="{% url 'question' id_quest=post.id %}">{{post.title}}</a>
                                                    </h4>
                                                </div>    
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <p>{{post.content}}</p>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-4">
                                                    <p><a href="{% url 'question' id_quest=post.id %}">answer({{post.answer_count}})</a></p>
                                                </div>

                                                <div class="col-md-2">
                                                    <p>Tags:</p>
                                                </div>

                                                <div class="col-md-6">
													{% for tag in post.tags.all %}
                                                    	<span><a href="{% url 'questions_tag' tag=tag %}">{{ tag }}</a>&nbsp;&nbsp;&nbsp;</span>
													{% endfor %}
                                                </div>
                                            </div>

											<div class="row">
                                                <div class="col-md-12">
                                                    <p>{{post.created_date}}</p>
                                                </div>    
                                            </div>
                                        </div>
                                    </div>
				</div>

           
