{% extends "base.html" %}
{% load staticfiles %}

{% block main_head %}
	<div class="row">
        <div class="col-md-3">
			<p>&nbsp;</p>
        </div>
   </div>
{% endblock %}

{% block content %}

{% include "post.html" %}

{% for answer in answers %}
  {% include "answer.html" %}
{% endfor %}

								<div class="askbuklin_your_answer">
									<form action="" method="POST" class="post-form">
										{% csrf_token %}
		                                <div class="row">
		                                     <div class="col-md-12">
		                                         <p>{{form.content}}</p>
		                                     </div>   
		                                </div>
		                                <div class="row">
		                                     <div class="col-md-12">
		                                        <h3>
		                                            <button type="submit" class="btn btn-primary">Answer</button>
		                                        </h3>
		                                     </div>   
		                                </div>
									</form>
                                </div>

{% include 'paginator.html' with posts=answer %}

{% endblock %}
