{% extends "base.html" %}
{% load staticfiles %}

{% block main_head %}
	<div class="row">
        <div class="col-md-3">
             <h3>Registration</h3>
        </div>
    </div>
{% endblock %}

{% block content %}
							<div class="signup">
                                <div class="row">
                                     <div class="col-md-7">
                                        <div class="exception_pass" id="100">
                                            <h4>Sorry, this email address already registred!</h4>
                                        </div>
                                     </div>     
                                </div>

                                <div class="row">
                                    <div class="col-md-3">
                                        <h4>Login</h4>
                                     </div>
                                     <div class="col-md-4">
                                         <input type="login" class="form-control" id="InputLogin" placeholder="login">
                                     </div>                        
                                </div>

                                 <div class="row">
                                    <div class="col-md-3">
                                        <h4>Email</h4>
                                     </div>
                                     <div class="col-md-4">
                                         <input type="email" class="form-control" id="InputEmail" placeholder="rorono.zoro@mail.ru" onclick="reemail()">
                                     </div>                        
                                </div>

                                <div class="row">
                                    <div class="col-md-3">
                                        <h4>NickName</h4>
                                     </div>
                                     <div class="col-md-4">
                                         <input type="NickName" class="form-control" id="InputNickName" placeholder="Zoro">
                                     </div>                        
                                </div>

                                 <div class="row">
                                    <div class="col-md-3">
                                        <h4>Password</h4>
                                     </div>
                                     <div class="col-md-4">
                                         <input type="password" class="form-control" id="InputPassword" placeholder="Password">
                                     </div>                        
                                </div>

                                 <div class="row">
                                    <div class="col-md-3">
                                        <h4>Repeat password</h4>
                                     </div>
                                     <div class="col-md-4">
                                         <input type="password" class="form-control" id="InputRepeatPassword" placeholder="Password">
                                     </div>                        
                                </div>

                                <div class="row">
                                     <div class="col-md-3">
                                        <h4>Upload avatar</h4>
                                     </div>
                                     <div class="col-md-4">
                                           <form enctype="form-data" method="post">
                                                <p><input type="file" name="avatar" multiple accept="image/*"></p>
                                           </form>
                                     </div>                        
                                </div>

                                 <div class="row">
                                    <div class="col-md-3">
                                    </div>
                                    <div class="col-md-4">
                                        <button type="button" class="btn btn-success" onclick="check_email()">Register!</button>
                                    </div>                        
                                </div>
							</div>

{% endblock %}
