{% load staticfiles %}    
    <div class="askbuklin_tags">
            <div class="row">
                <div class="col-md-12">
                    <h2>Popular tags</h2>
                </div>
             </div>

             <div class="row">
				<div class="col-md-12">
				  	<h4>
				  		<span><a href="{% url 'questions_tag' tag="Nami" %}">Nami</a>&nbsp;&nbsp;&nbsp;</span>
				  		<span><a href="{% url 'questions_tag' tag="Luffy" %}">Luffy</a>&nbsp;&nbsp;&nbsp;</span>
				  		<span><a href="{% url 'questions_tag' tag="TrafalgarLaw" %}">TrafalgarLaw</a>&nbsp;&nbsp;&nbsp;</span>
						<span><a href="{% url 'questions_tag' tag="Doflamingo" %}">Doflamingo</a>&nbsp;&nbsp;&nbsp;</span>
				  		<span><a href="{% url 'questions_tag' tag="RoronoZoro" %}">RoronoZoro</a>&nbsp;&nbsp;&nbsp;</span>
				 	 </h4>
				</div>
             </div>
        </div>

        <div class="askbuklin_users">
             <div class="row">
                 <div class="col-md-12">
                        <h2>Best Members</h2>
                 </div>
             </div>
        
             <div class="row">
                  <div class="col-md-12">
                        <h4><a href="{% url 'index' %}">Monkey D. Luffy</a></h4>
                  </div>
             </div>

             <div class="row">
                  <div class="col-md-12">
                        <h4><a href="{% url 'index' %}">Rorono Zoro</a></h4>
                  </div>
             </div>

             <div class="row">
                  <div class="col-md-12">
                        <h4><a href="{% url 'index' %}">Nami</a></h4>
                  </div>
             </div>

             <div class="row">
                  <div class="col-md-12">
                        <h4><a href="{% url 'index' %}">Usoup</a></h4>
                  </div>
             </div>

             <div class="row">
                  <div class="col-md-12">
                        <h4><a href="{% url 'index' %}">Trafalgar D. Water Law</a></h4>
                  </div>
             </div>
         </div>           

