        <div class="askbuklin_other_information_1">
            <div class="row">
                <div class="col-md-12">
                    <h2>Popular tags</h2>
                </div>
             </div>
        </div>

        <div class="askbuklin_other_information_2">
             <div class="row">
                  <div class="col-md-2">
                       <h5>perl</h5>
                  </div>

                  <div class="col-md-3">
                       <h4>python</h4>
                  </div>

                  <div class="col-md-4">
                       <h5>TechnoPark</h5>
                  </div>
             </div>
        </div>

        <div class="askbuklin_other_information_3">
             <div class="row">
                  <div class="col-md-3">
                       <h4>MySQL</h4>
                  </div>

                  <div class="col-md-4">
                       <h4>django</h4>
                  </div>
              </div>      
        </div>

        <div class="askbuklin_other_information_4">
             <div class="row">
                 <div class="col-md-2">
                       <h5>Mail.ru</h5>
                 </div>

                 <div class="col-md-3">
                       <h5>Voloshin</h5>
                 </div>

                 <div class="col-md-3">
                       <h6>FireFox</h6>
                 </div>
             </div>
        </div>

        <div class="askbuklin_other_information_5">
             <div class="row">
                 <div class="col-md-12">
                        <h2>Best Members</h2>
                 </div>
             </div>
        </div>

         <div class="askbuklin_other_information_6">
             <div class="row">
                  <div class="col-md-12">
                        <h4><a href="Url">Monkey D. Luffy</a></h4>
                  </div>
             </div>
         </div>

         <div class="askbuklin_other_information_7">
             <div class="row">
                  <div class="col-md-12">
                        <h4><a href="Url">Rorono Zoro</a></h4>
                  </div>
             </div>
         </div>

         <div class="askbuklin_other_information_8">
             <div class="row">
                  <div class="col-md-12">
                        <h4><a href="Url">Nami</a></h4>
                  </div>
             </div>
         </div>

         <div class="askbuklin_other_information_9">
             <div class="row">
                  <div class="col-md-12">
                        <h4><a href="Url">Usoup</a></h4>
                  </div>
             </div>
         </div>

         <div class="askbuklin_other_information_10">
             <div class="row">
                  <div class="col-md-12">
                        <h4><a href="Url">Trafalgar D. Water LO</a></h4>
                  </div>
             </div>
         </div>           

