{% extends "base.html" %}
{% load staticfiles %}

{% block authorized %}
	{% include "authorized.html" %}
{% endblock %}

{% block content %}
				<div class="row">
                                    <div class="col-md-5">
                                        <h2>Settings: Rorono Zoro</h2>
                                     </div>                        
                                </div>

                                 <div class="row">
                                    <div class="col-md-3">
                                        <h4>Login</h4>
                                     </div>
                                     <div class="col-md-8">
                                         <input type="login" class="form-control" id="InputLogin" placeholder="login">
                                     </div>                        
                                </div>

                                 <div class="row">
                                    <div class="col-md-3">
                                        <h4>Email</h4>
                                     </div>
                                     <div class="col-md-8">
                                         <input type="email" class="form-control" id="InputEmail" placeholder="rorono.zoro@mail.ru">
                                     </div>                        
                                </div>

                                <div class="row">
                                    <div class="col-md-3">
                                        <h4>NickName</h4>
                                     </div>
                                     <div class="col-md-8">
                                         <input type="NickName" class="form-control" id="InputNickName" placeholder="Zoro">
                                     </div>                        
                                </div>
                                
                                <div class="row">
                                     <div class="col-md-3">
                                        <h4>Upload avatar</h4>
                                     </div>
                                     <div class="col-md-8">
                                            <a href="#" class="thumbnail">
                                              <img src="..." alt="...">
                                            </a>
                                           <form enctype="multipart/form-data" method="post">
                                                <p><input type="file" name="avatar" multiple accept="image/*"></p>
                                           </form>
                                     </div>                        
                                </div>

                                 <div class="row">
                                     <div class="col-md-3">
                                     </div>
                                    <div class="col-md-8">
                                        <button type="button" class="btn btn-success">Save</button>
                                    </div>                        
                                </div>

{% endblock %}
